<section class="l-section-title">
    <header>
        <h2><span class="c-section-title">基本情報</span></h2>
    </header>
    <dl class="l-info-list">
        <dt class="c-info-list__title l-info-list__title">名前</dt>
        <dd class="l-info-list__item">新歩一正己(Masami Shimbuichi)</dd>
        <dt class="c-info-list__title l-info-list__title">活動地域</dt>
        <dd class="l-info-list__item">埼玉・東京・神奈川</dd>
        <dt class="c-info-list__title l-info-list__title">twitter</dt>
        <dd class="l-info-list__item">じゃけんまん@Android頑張る</dd>
        <dt class="c-info-list__title l-info-list__title">最近の興味</dt>
        <dd class="l-info-list__item">クリーンアーキテクチャー、DDD、CI/CD, TDD</dd>
        <dt class="c-info-list__title l-info-list__title">一言</dt>
        <dd class="l-info-list__item">いろんな言語触りたい時期が過ぎ、設計/開発手法とかに興味が移りました。</dd>
        <dd class="l-info-list__item">キャッチアップには自信があります。</dd>
    </dl>
</section>
