
<section>
    <header>スキル</header>
    <div>
        <h2>実務</h2>
        <h3>言語</h3>
        <article>
            <ul>
                <li>
                    <h4>Java</h4>
                    <p>
                        経歴が一番長いです。凝ったことでなければ一通りできます。
                        最近はクラスの責務や凝集度を考えつつコーディングしています。
                    </p>
                </li>
                <li>
                    <h4>JavaScript</h4>
                    <p>
                        Vueを使ってみたかったので、最近力を入れている言語です。
                    </p>
                </li>
                <li>
                    <h4>SQL</h4>
                    <p>
                        ある程度パフォーマンスを考慮してSQLを書くことができます。
                        Window関数を使いこなせるようになりたいです。
                    </p>
                </li>
                <li>
                    <h4>HTML/CSS</h4>
                    <p>
                        デザインカンプに沿ってコーディングできます。
                        レスポンシブ対応も可能です。
                    </p>
                </li>
                <li>VB</li>
                <li>
                    <h4>PHP</h4>
                    <p>
                        Laravelを使って太陽光発電の発電量を可視化するアプリを開発しました。
                    </p>
                </li>
                <li>
                    <h4>C#</h4>
                    <p>
                        UWPでBluetoothLE機器のデータを可視化するWindowsアプリを開発しました。
                    </p>

                </li>
            </ul>
        </article>
    </div>
    <div>
        <h2>趣味</h2>
        <h3>言語</h3>
        <article>
            <ul>
                <li>Scala</li>
                <li>Kotlin(Android)</li>
                <li>Swift</li>
                <li>Go</li>
                <li>TypeScript</li>
                <li>Python</li>
                <li>Ruby</li>
            </ul>
        </article>
        <h3>フレームワーク</h3>
        <article>
            <ul>
                <li>Play Framework</li>
                <li></li>
                <li>Struts1,2</li>
                <li>jQuery</li>
                <li>Vue</li>
                <li>Laravel</li>
                <li>CodeIgniter</li>
                <li>.NET</li>
            </ul>
        </article>
    </div>
</section>
