<section>
    <header><h2>職務経歴（概要）</h2></header>
    <div>
        <h3>実務(フリーランス)</h3>
        <ul>
            <li>2019.3~ 公共システム開発・保守</li>
            <li>2018.11~ 証券システム保守</li>
            <li>2017.9~ 資産運用システム保守</li>
            <li>2016.10~ 公共システム開発</li>
        </ul>
        <h3>実務(社員) 2012.4~ </h3>
        <ul>
            <li>販売管理システム開発・保守(電子機器、農機、インポート家具、産廃処理・再生)</li>
            <li>補償管理システム開発・保守</li>
            <li>校正受託システム開発・保守</li>
        </ul>
        <h3>個人請負案件</h3>
        <ul>
            <li>ワードプレスを用いたホームページ制作</li>
            <li>太陽光発電量表示アプリ開発</li>
            <li>BluetoothLE端末の受信情報表示アプリ開発</li>
        </ul>
        <h3>使用した技術</h3>
        <dl>
            <dt>言語</dt>
            <dd>
                <span>Java</span>,
                <span>JavaScript</span>,
                <span>Scala</span>,
                <span>Kotlin</span>,
                <span>PHP</span>,
                <span>C#</span>,
                <span>HTML</span>,
                <span>CSS</span>,
                <span>SQL</span>,
                <span>VB</span>
            </dd>
        </dl>
        <dl>
            <dt>フレームワーク</dt>
            <dd>
                <span>Struts</span>,
                <span>Spring</span>,
                <span>SpringBoot</span>,
                <span>JQuery</span>,
                <span>Vue</span>,
                <span>Laravel</span>,
                <span>CodeIgniter</span>,
                <span>ASP.NET</span>,
                <span>.NET</span>,
                <span>Sass</span>,
                <span>Stylus</span>
        </dl>
        <dl>
            <dt>データベース</dt>
            <dd>
                <span>MySQL</span>,
                <span>Oracle</span>,
                <span>SQLServer</span>,
                <span>ElasticSearch</span>,
                <span>Redis</span>,
                <span>DB2</span>
            </dd>
        </dl>
    </div>
</section>
