<section>
    <header><h2><span class="c-section-title">職務経歴（概要）</span></h2></header>
    <div>
        <h3>実務(フリーランス)</h3>
        <ul>
            <li>2019.3~ 公共システム開発・保守</li>
            <li>2018.11~ 証券システム保守</li>
            <li>2017.9~ 資産運用システム保守</li>
            <li>2016.10~ 公共システム開発</li>
        </ul>
        <h3>実務(社員) 2012.4~ </h3>
        <ul>
            <li>販売管理システム開発・保守(電子機器、農機、インポート家具、産廃処理・再生)</li>
            <li>補償管理システム開発・保守</li>
            <li>校正受託システム開発・保守</li>
        </ul>
        <h3>個人請負案件</h3>
        <ul>
            <li>ワードプレスを用いたホームページ制作</li>
            <li>太陽光発電量表示アプリ開発</li>
            <li>BluetoothLE端末の受信情報表示アプリ開発</li>
        </ul>
        <h3>使用した技術</h3>
        <dl class="l-info-list">
            <dt class="c-info-list__title l-info-list__title">言語</dt>
            <dd class="l-info-list__item">
                <span data-ballon="java">Java</span>,
                <span data-ballon="javascript">JavaScript</span>,
                <span data-ballon="scala">Scala</span>,
                <span data-ballon="kotlin">Kotlin</span>,
                <span data-ballon="php">PHP</span>,
                <span data-ballon="cs">C#</span>,
                <span data-ballon="html_css">HTML/CSS</span>,
                <span data-ballon="sql">SQL</span>,
                <span data-ballon="vb">VB</span>
            </dd>
            <dt class="c-info-list__title l-info-list__title">フレームワーク</dt>
            <dd class="l-info-list__item">
                <span data-ballon="struts">Struts</span>,
                <span data-ballon="spring">Spring</span>,
                <span data-ballon="spring">SpringBoot</span>,
                <span data-ballon="jquery">JQuery</span>,
                <span data-ballon="vue">Vue</span>,
                <span data-ballon="laravel">Laravel</span>,
                <span data-ballon="codeigniter">CodeIgniter</span>,
                <span data-ballon="asp_net">ASP.NET</span>,
                <span data-ballon="_net">.NET</span>,
                <span data-ballon="sass">Sass</span>,
                <span data-ballon="stylus">Stylus</span>
            </dd>
            <dt class="c-info-list__title l-info-list__title">データベース</dt>
            <dd class="l-info-list__item">
                <span data-ballon="mysql">MySQL</span>,
                <span data-ballon="oracle">Oracle</span>,
                <span data-ballon="sqlserver">SQLServer</span>,
                <span data-ballon="elasticsearch">ElasticSearch</span>,
                <span data-ballon="redis">Redis</span>,
                <span data-ballon="db2">DB2</span>
            </dd>
        </dl>
    </div>
</section>
