<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>経歴書ささんぷる</title>
    <link rel="stylesheet" href="../css/styl/clear.css"/>
    <link rel="stylesheet" href="../css/styl/style.css"/>
</head>
<body>
<div class="main">
    <header class="header">
        <h1 class="header-title l-header-title">職務経歴書</h1>
    </header>
    <div class="c-content l-content-wrapper">
        <%- include('_base_information') - %>
        <%- include('_project_summary') - %>
        <%- include('_project_detail') - %>
        <%- include('_hobby') - %>
        <section>
            <header>Comming Soon</header>
        </section>
    </div>
</div>
</body>
<script src="../js/balloon.js"></script>
<script>
  'use strict';
  var skill = {
    java: '経歴が一番長いです。凝ったことでなければ一通りできます。\n' +
      '最近はクラスの責務や凝集度を考えつつコーディングしています。',
    javascript: 'Vueを使ってみたかったので、最近力を入れている言語です。',
    kotlin: 'サーバーサイドKotlinを導入しようとして勉強不足だったので、テストコードに適用しました。\n'
      + '趣味のAndroidの方ではKotlinを使っています。',
    html_css: 'デザインカンプに沿ってコーディングできます。 レスポンシブ対応も可能です。',
    php: 'Laravelを使って太陽光発電の発電量を可視化するアプリを開発しました。\n' +
      '業務ではベンダーから納品されたCodeIgnitorの改修の経験があります。',
    cs: 'UWPでBluetoothLE機器のデータを可視化するWindowsアプリを開発しました。',
    vb: 'ドットネットプリンターやクリスタルレポートでの帳票出力や\n' +
      'バーコード読み取りを行うシステムを開発していました。',
    sql: 'ある程度パフォーマンスを考慮してSQLを書くことができます。\n' +
      'Window関数を使いこなせるようになりたいです。',
  }

  var fw = {
    struts: '経歴が一番長いです。凝ったことでなければ一通りできます。\n' +
      '最近はクラスの責務や凝集度を考えつつコーディングしています。',
    spring: '経歴が一番長いです。凝ったことでなければ一通りできます。\n' +
      '最近はクラスの責務や凝集度を考えつつコーディングしています。',
    jquery: 'Vueを使ってみたかったので、最近力を入れている言語です。',
    vue: 'サーバーサイドKotlinを導入しようとして勉強不足だったので、テストコードに適用しました。\n'
      + '趣味のAndroidの方ではKotlinを使っています。',
    laravel: 'デザインカンプに沿ってコーディングできます。 レスポンシブ対応も可能です。',
    codeigniter: 'Laravelを使って太陽光発電の発電量を可視化するアプリを開発しました。\n' +
      '業務ではベンダーから納品されたCodeIgnitorの改修の経験があります。',
    asp_net: 'UWPでBluetoothLE機器のデータを可視化するWindowsアプリを開発しました。',
    _net: 'ドットネットプリンターやクリスタルレポートでの帳票出力や\n' +
      'バーコード読み取りを行うシステムを開発していました。',
    sass: 'ある程度パフォーマンスを考慮してSQLを書くことができます。\n' +
      'Window関数を使いこなせるようになりたいです。',
    stylus: 'ある程度パフォーマンスを考慮してSQLを書くことができます。\n' +
      'Window関数を使いこなせるようになりたいです。',
  }

  var balloon = new Balloon(200, 100);

</script>
</html>
