fonts = helvetica, arial, sans-serif
font-size-base = 0.9rem
font-size-large = 1.5rem
font-size-small = 0.8rem

base-font-color = #393939
base-color-1 = red
base-color-2 = blue
base-color-3 = yellow
base-color-4 = gray

base-wrapper-width = 80%
body
  font 14px/1.4 fonts
  font-size font-size-base
  color base-font-color
  letter-spacing 0.1rem

.c-content
  width base-wrapper-width

.l-content-wrapper
  margin: 0 auto 0 auto

